<body class="form-body">
<table class="table">
    <thead>
      <tr>
        <th class="th">Fecha</th>
        <th class="th">Concepto</th>
        <th class="th">Monto</th>
        <th class="th">IN / OUT</th>
        <th class="th">Categoría</th>
        <th></th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let operation of operations">
        <td class="td">{{ operation.date | date }}</td>
        <td class="td">{{ operation.concept }}</td>
        <td class="td">{{ operation.amount | currency:'USD' }}</td>
        <td class="td">{{ operation.operation_type }}</td>
        <td class="td">{{ operation.category }}</td>
        <td>
          <a routerLink="{{ '/operations/' + operation.id }}">Editar</a>
        </td>
      </tr>
    </tbody> 
</table>
</body>
