<navbar></navbar>
<body class="form-body">
<table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Monto</th>
        <th>Tipo de Operación</th>
        <th></th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let operation of operations">
        <td>{{ operation.date| date }}</td>
        <td>{{ operation.concept }}</td>
        <td>{{ operation.amount }}</td>
        <td>{{ operation.operation_type }}</td>
        <td>
          <a routerLink="{{ '/operations/' + operation.id }}">Editar</a>
        </td>
      </tr>
    </tbody> 
</table>
</body>
