<navbar></navbar>
<body class="form-body">
<button class="btn btn-primary" routerLink="/new">Nuevo Registro</button>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">$ 45.000</h5>
    <p>Balance actual de sus ingresos/egresos.</p>
  </div>
</div>

<h5>Últimas 10 operaciones:</h5>

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Monto</th>
      <th>Tipo de Operación</th>
    </tr>
  </thead> 
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody> 
</table>
</body>
